@model Kalkulator.Models.Kalk
@{
    ViewData["Title"] = "Kalkulator";
}

<h1>Kalkulator</h1>

<form action="Kalkulator">
	<select asp-for="Dzialanie">
		<option selected value="1">+</option>
		<option value="2">-</option>
		<option value="3">*</option>
		<option value="4">/</option>
	</select>
	Podaj pierwsza liczbe<input type="number" asp-for="Liczba1" />
	Podaj druga liczbe<input type="number" asp-for="Liczba2" />
	<input type="submit"/>
</form>

@ViewBag.wynik